@import '../10_settings/__all';
@import '../20_tools/__all';

.c-password {
  width: 60%;
  margin: auto;
  padding-bottom: $global-spacing-unit;
}

.c-password__title {
  text-align: center;
  color: $background-primary;
  padding-top: $global-spacing-unit;
}

.c-password__caption {
  text-align: center;
  color: $medium-grey;
  font-weight: 300;
}

.c-password__input {
  width: 100%;
  margin-bottom: $global-spacing-unit;
  border-radius: 0;
  border-color: $border-default;
  background-color: $background-light;
  font-weight: 200;
}

.c-password__button-icon {
  width: 100%;
}
