@import '../10_settings/__all';
@import '../20_tools/__all';

.c-password {
  width: 60%;
  margin: auto;
  padding-bottom: $global-spacing-unit;
}

  .c-password__flash-message {
    background-color: $background-light-grey;
    text-align: center;
    padding: 10px;
    animation: fadein 1s;

    a {
      margin-right: 5px;
    }
  }

  @keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }

  @keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
  }

  .c-password__title {
    text-align: center;
    color: $background-primary;
    padding-top: $global-spacing-unit;
  }

  .c-password__caption {
    text-align: center;
    color: $medium-grey;
    font-weight: 300;
  }

  .c-password__input {
    width: 100%;
    margin-bottom: $global-spacing-unit;
    border-radius: 0;
    border-color: $border-default;
    background-color: $background-light;
    font-weight: 200;
  }

  .c-password__button {
    width: 100%;
  }
