@import '../10_settings/__all';

.c-flash {
  background: $background-dark;
  color: white;
  text-align: center;
  padding: $global-spacing-unit-small;
  margin-bottom: $global-spacing-unit-small;
}

.c-flash--success {
  background: $text-success;
}

.c-flash--error {
  background: $text-alert;
}
