@import '../10_settings/__all';
@import '../20_tools/__all';

$minibag-border-style: 1px solid $border-default !important;

.c-minibag {
}

  .c-minibag__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    font-size: .8em;

    @include breakpoint(desktop) {
      font-size: 1em;
    }
  }

  .c-minibag__cart-image {
    height: 22px;
    width: 22px;
    position: relative;
  }

    .c-minibag__cart-image-icon {
      display: inline-block;

      img {
        height: 22px;
        width: 22px;
      }
    }

    .c-minibag__cart-image-count {
      display: block;
      background-color: $background-positive;
      border-radius: 50%;
      color: $text-light;
      font-size: .5em;
      text-align: center;
      width: 16px;
      height: 16px;
      line-height: 16px;
      margin-right: -$global-spacing-unit-small;
      z-index: 1;
      position: absolute;
      left: -6px;
      top: -6px;
    }

    .c-minibag__cart-label {
      display: block;
      padding-left: $global-spacing-unit-small;
    }

  .c-minibag__overlay {
    @include breakpoint(desktop) {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      z-index: 2;
      width: 100vw;
      height: 100vh;
    }
  }

  .c-minibag__dropdown {
    position: relative;
    display: flex;

    @include breakpoint(desktop) {
      position: absolute;
      top: 72px;
      width: 80%;
      justify-content: flex-end;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 1200px;
      height: 100vh;
    }
  }

  .c-minibag__line-item {
    padding: $global-spacing-unit-tiny;
    display: flex;

    @include breakpoint(tablet) {
      justify-content: space-between
    }
  }

    .c-minibag__line-item--delete {
      font-size: .9em;
      cursor: pointer;
    }

  .c-minibag__line-items-section {
    overflow: scroll;
  }

    .c-minibag__line-item-images {
      width: 70%;

      @include breakpoint(tablet) {
        width: 20%;
      }

      @include breakpoint(desktop) {
        width: 70%;
      }
    }

    .c-minibag__line-item-information {
      font-size: .8em;
    }

    .c-minibag__line-item-total {
      margin-right: $global-spacing-unit-small;
      color: $accent-global;
    }

    .c-minibag__line-item-subtotal {
      color: $font-dark-grey;
      text-decoration: line-through;
    }

      .c-minibag__line-item-information-title {
        font-weight: bold;

        @include breakpoint(tablet) {
          font-size: 14px;
        }
      }

      .c-minibag__line-item-information-params {
        font-size: 10px;
      }

    .c-minibag__dropdown-container {
      background-color: white;
      padding: $global-spacing-unit;
      padding-top: 0;
      box-shadow: 0 2px 2px $medium-grey;
      display: flex;
      flex-direction: column;
      height: calc(100vh - #{$global-header-height-mobile} + 72px);

      @include breakpoint(desktop) {
        width: 350px;
        max-height: 580px;
        min-height: 350px;
        height: 100%;
        z-index: 2;
      }
    }

      .c-minibag__dropdown-header {
        border-bottom: $minibag-border-style;
        position: relative;
      }

      .c-minibag__dropdown-checkbox {
        display: none;
      }

      .c-minibag__dropdown-cross {
        background: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' width='612' height='612'><path d='M612 36.004L576.521.603 306 270.608 35.478.603 0 36.004l270.522 270.007L0 575.997l35.478 35.4L306 341.411l270.521 269.986 35.479-35.4-270.541-269.986z'/></svg>") no-repeat center;
        height: 4em;
        width: 1em;
        position: absolute;
        right: $global-spacing-unit-tiny;
        top: $global-spacing-unit-tiny;
        background-size: 70%;
        cursor: pointer;
      }

      .c-minibag__dropdown-title {
        width: 100%;
      }

      .c-minibag__dropdown-review {
        display: flex;
        flex-direction: column;
        border-top: $minibag-border-style;
      }

        .c-minibag__dropdown-review-total {
          display: flex;
          justify-content: space-between;
        }

        .c-minibag__dropdown-buttons {
          &--link {
            margin: 0;
            width: 100%;
            cursor: pointer;

            &:first-of-type {
              margin-top: $global-spacing-unit-tiny;
            }
          }
        }
