@import '../10_settings/__all';
@import '../20_tools/__all';

.c-payment-method {
  margin-top: $global-spacing-unit-huge;
  border-bottom: 1px solid $border-default;

  @include breakpoint(desktop) {
    margin-top: $global-spacing-unit-large;
    border-bottom: 0;
  }

  label {
    font-size: .7rem;
    font-weight: bold;
  }
}

.c-payment-method__header {
  @include breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(desktop) {
    padding-top: $global-spacing-unit-small;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.c-payment-method__options {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: $global-spacing-unit-small $global-spacing-unit-tiny;

  @include breakpoint(desktop) {
    width: 50%;
    padding-bottom: $global-spacing-unit-small;
    margin-top: $global-spacing-unit-small;
    justify-content: space-between;
  }
}

.c-payment-method__option-text {
  color: $medium-grey;
}

.c-payment-method__button {
  display: flex;
  justify-content: center;
  font-size: .7rem;
  text-transform: uppercase;
  margin: 1.5%;
  color: $text-light;
  background-color: $background-primary;

  @include breakpoint(desktop) {
    margin-left: 0;
  }
}

.c-payment-method__button--active {
  background-color: $background-positive;
}

.c-payment-method__summary {
  margin-top: $global-spacing-unit-large;
  padding-bottom: $global-spacing-unit-small;

  @include breakpoint(tablet) {
    padding-left: 0;
  }
}

.c-payment-method__summary-information {
  width: 90%;
  border-bottom: 1px solid $border-default;
}

.c-payment-method__summary-information-card-image {
  flex-basis: 20%;
  padding-bottom: $global-spacing-unit-small;

  @include breakpoint(desktop) {
    flex-basis: 10%;
  }

  img {
    height: 20px;
    margin-right: $global-spacing-unit-small;
  }
}
