@import 'ais-RangeSlider/input-range';

.ais-RangeSlider {
  padding: 1.5rem;

  @include breakpoint(desktop) {
    padding-left: $global-spacing-unit-small;
    padding-right: $global-spacing-unit-small;
  }
}
