/* ==========================================================================
   # Colour Settings
   ========================================================================== */

$text-alert: #721c24 !default;
$text-default: #7F8FA4 !default;
$text-dark: #000000 !default;
$text-error: #ff0000 !default;
$text-focus: #354052 !default;
$text-form: #495057 !default;
$text-gold: #e68a00 !default;
$text-info: #4598B8 !default;
$text-primary: #4285f4 !default;
$text-success: #009900 !default;
$text-light: #ffffff !default;

$background-alert: #f8d7da !default;
$background-dark: #737376 !default;
$background-disabled: #666666 !default;
$background-grey: #e3e3e1 !default;
$background-info: #4598B8 !default;
$background-light: #999999 !default;
$background-light-grey: #EEEFF3 !default;
$background-negative: #D55742 !default;
$background-payment: #ddd !default;
$background-positive: #F06A52 !default;
$background-primary: #000000 !default;
$background-secondary: #cccccc !default;
$background-warning: #F7BF47 !default;
$background-white: #ffffff !default;

$button-base-color: #737376 !default;

$border-alert: #f5c6cb !default;
$border-dark: #000000 !default;
$border-default: #DADADA !default;
$border-divider: #CECECE !default;
$border-error: #ff0000 !default;
$border-highlight: #1990EA !default;
$border-shadow: #DFE2E5 !default;

$accent-global: #F06A52 !default;

$alert-orange: #F06A52 !default;
$checkout-grey: #e3e3e1 !default;
$font-dark-grey: #666666 !default;
$form-input-border: #999999 !default;
$light-grey: #f1f1f0 !default;
$medium-grey: #808080 !default;
