// =============================================================================
// SETTINGS / GLOBALS
// =============================================================================

$base-font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$base-monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$global-body-container-width: 80% !default;
$global-body-max-width: 1200px !default;
$global-footer-height: 175px !default;
$global-header-height-desktop: 127px !default;
$global-header-height-mobile: 176px !default;
